
*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0 10px;
  font-family: Helvetica,Arial,sans-serif;
  background: linear-gradient(
    to left,
    rgb(51, 18, 197) 0%,
    rgb(212, 0, 255) 100%
  );
  color: #fff;
}
input {
  font-size: 2rem;
  color:grey;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: 10px;
  padding:5px 2px;
  margin: 5px;
  text-align: center;
  background-color :#fff;
  color: #000;
  font-weight:600;
  width: 120px;
}

.card p {

  max-width: 20ch;
}
.card img {
  
  max-height: 100px
}

.card-grid{

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
 align-items: space-between;
  
}